
<div class="container">
<section>

 
    <div class="columns">

        <div class="column  is-half is-offset-4">

<%= form_tag("/home/search", method: :get) do %>
  
<div class="field has-addons">
 
<div class="control has-icons-left">
<%= text_field_tag(:text, '', class: 'input is-medium', placeholder: "Search in MuseScore...") %>
<span class="icon is-medium is-right">
<i class="fas fa-search"></i>
</span>
</div>
  <%= submit_tag("Search", class: 'button is-medium is-primary') %>
</div>
 
<% end %>

      <!-- // End Div columns is-centered -->
  </div> 
</div>    
 
</section>
 
 

<section class="section">

<div class="columns is-multiline">
  <%  @score.each do |music| %>


  
 
<div class="column is-5 ">

<div class="card">
  <div class="card-image">
    <figure class="image is-square">
     <%= image_tag(score_img(music['id'], music['secret'])) %>
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-48x48">
          <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-4"><%= music['title'] %>
        <p class="subtitle is-6"><%= music['user']['username'] %></p>
      </div>
    </div>

    <div class="content">

  <p class="content">

      <audio controls>
      <source src="<%= score_mp3(music['id'], music['secret']) %>" type="audio/mpeg">
    Your browser does not support the audio element.
    </audio>

   </p>
      <br> 
<%= link_to "Publicar", show_path(music['id']), class: "button primary"  %>  |
 <a target="_blank" href="<%= music["permalink"] %>"> Visualizar</a>
    </div>
  </div>
</div>

<h3 class="title">

</h3>
 <figure class="image ">
 
 </figure>

 
</div>
 
  <p></p>
 
     <% end #end music loop %>

  
</div>

</section>

</div> <!-- //  End Div Container  -->