 
<section class="section">
	  
	<div class="columns is-centered">
	   
	 
	<% @page.links.each do |links| %> 
		<%= links.text %>
	<% end %>
		<div class="column is-6">
				<h1 class="title">Add new post</h1>
		   <%= form_tag(:post, method: :post)  do  %>
				<div class="field">
						<div class="control">
					<%= label_tag(:title, nil, class: 'label') %>
					<%= text_field_tag(:title, @score['title'], class: 'input is-medium', placeholder: "Add title") %>
						 </div>

				
				</div>
				<div class="field">
					<div class="control">
									</div>
				
					</div>
				<div class="field">
				<div class="control">
				  <%= label_tag(:content, nil, class: 'label') %>
			     
				 <%= text_area_tag(:content, @content, class:"textarea", rows: "15" ) %>
  			 
				
				</div>
				</div>

				<%= hidden_field_tag(:image, score_img(@score['id'], @score['secret']) ) %>

				<div class="field">
				<div class="control">
				<%= submit_tag("Publicar", class: "button is-primary") %>
				</div></div>
	   
		  <% end %>

			
 
		</div>
	</div>

</section>


