<!DOCTYPE html>
<html>
  <head>
    <title>Creativepost</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "shered/menu" %>
    <section class="section">
    <%= yield %>
    </section>
  </body>
</html>
